%div{:class => "col-md-12" ,:style =>"padding: 2em"}
  -@tickets.each do |ticket|
    %h2
      %a{:href => "/show/#{ticket.ticket_id}"}
        ="Ticket ##{ticket.ticket_id}" 
    %p
      ="Name: #{ticket.name}" 
    %p
      ="Email: #{ticket.mail}"
    %p
      ="Phone: #{ticket.phone}"
    %p
      ="Pelicula: #{@films[ticket.film_id.to_i].title}"
    %p
      ="Price: #{@films[ticket.film_id.to_i].price}"
    %hr